:root {
    --basis-black: #000;
    --basis-dark-black: #283136;
    --medium-gray: #444;
    --basic-neutral: #666;
    --basic-extra-light: #eee;
    --basic-white: #fff;

    --special: #888;
    --basis-red: #fb565a;
    --basis-green: #00ca74;
    --basis-yellow: #efc849;
}



/* Global */

body {
  min-width: 1177px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
  color: var(--basis-black);
}

a {
  text-decoration: none;
}

.visually-hidden {
    visibility: hidden;
    display: none;
}

img {
  height: auto;
}



/* Grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Main header */

.main-header {
    background-color: var(--basic-extra-light);
}

/* Main navigation */

.main-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.main-navigation,
.slide {
  background-color: var(basic-extra-light);
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;  
  text-transform: uppercase; 
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
    padding-top: 49px;
    padding-right: 202px;
    width: 160px;
    height: 65px;
}

/* Container */

.container {
    width: 1157px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation .container {
    display: flex;
    justify-content: space-between;
}


.site-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 438px;
  margin: 0;
  padding: 0;
  padding-top: 75px;
  /* outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px; */
}

.site-navigation a,
.basket-text {
   color: var(--basis-black);
}

/* Basket */

.basket {
  /* outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px; */
  max-width: 140px;
  padding-left: 50px;
  padding-top: 76px;
}

.site-navigation:active,
.site-navigation a:hover,
.site-navigation a:focus,
.basket  span:hover,
.basket  span:focus,
.basket span:active {
   color: var(--basis-red);
}

/*Slider*/

.slide {
    /* outline: 5px solid rgba(255, 0, 0 , 0.3); */
    display: flex;
}

.desc {
    /* outline: 5px solid rgba(0, 255, 255 , 0.3);
    outline-offset: -5px; */
}

.index-slide {
    order: 2;
}

.title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

.btn-slide {
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: var(--basic-white);
    background-color:var(--basis-red);
    border: none;
    text-transform: uppercase;
    width: 240px;
    height: 50px;
    border-radius: 3px;
}

/* Features */

.features {
    /* outline: 5px solid rgba(255, 0, 0 , 0.3); */
    margin-bottom: 155px;
    padding-top: 80px;
}

.feature-item {
    /* outline: 5px solid rgba(0, 255, 255 , 0.3);
    outline-offset: -5px; */
    text-align: left; 
}

.features-list {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
} 

.feature-item h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }

.feature-item p {
    color:var(--basis-dark-black);
    width: 260px;
  }

  /* Button */

.feature-item .btn {
    font: inherit;
    text-align: center;
    color:var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border:none;
    border-radius: 3px;
    width: 160px;
    height: 50px;
    left: 540px;
    top: 922px;
    font-weight: 500;
}
 
.feature-item:first-child .btn {
    background-color:var(--basis-red);
}

.feature-item:nth-child(2) .btn {
    background-color:var(--basis-green);
}

.feature-item:last-child .btn {
    background-color:var(--basis-yellow);
}

.feature-item .btn:hover,
.feature-item .btn:focus,
.feature-item .btn:active,
.btn-studio:hover,
.btn-studio:focus,
.btn-studio:active,
.btn-slide:hover,
.btn-slide:focus,
.btn-slide:active {
    background-color: var(--special);  
}

.illustration {
    width: 300px;
    height: 146px;
}

/* Index columns */

.index-columns {
    /* outline: 5px solid rgba(0, 255, 255, 0.7);
    outline-offset: -5px; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 121px;
}

.web-studio {
    /* outline: 5px solid rgba(255, 0, 0 , 0.3);
    outline-offset: -10px; */
    width: 651px;
}

.indicators {
    /* outline: 5px solid rgba(21, 228, 149, 0.3);
    outline-offset: -10px; */
    width: 360px;
}

.indicators h4 {
    text-align: center;
}

.copyright {
    display: flex;
    flex-direction: row;
}

.order-list {
    list-style: none;
}

.web-studio h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;   
}

.index-columns h4 {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basis-dark-black);
}

.nerds-illustration {
    width: 360px;
    height: 208px;
}

.number {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
}

.percent {
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
}

.description {
    color: var(--basis-dark-black);
    line-height: 18px;
}

/* Partners */ 

.partners {
    /* outline: 5px solid rgba(21, 228, 149, 0.3); */
    display: flex;
    justify-content: space-between;
    margin-bottom: 126px;
}

/*Contacts*/

.map-wrapper {
    background-image: url('../img/map1.png');
    width: 1140px;
    height: 416px;
    position: relative;
}

.contact {
    box-sizing: border-box;
    background-color: var(--basic-white);
    width: 319px;
    height: 308px;
    padding: 50px;
    position: absolute;
    left: 140px;
    top: 54px;
}

.marker {
    left: 822px;
    position: absolute;
    top: 86px;
}

.subtitle {
    text-transform: uppercase;
    color: var(--basis-black);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.adress-studio,
.phone-studio {
    line-height: 18px;
}

.btn-studio {
    background:var(--basis-red);
    border-radius: 3px;
    width: 219px;
    height: 50px;
    border: none;
    color:var(--basic-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

/*Main menu*/

.main-footer {
    /* outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px; */
    position: relative;
}

.footer-social {
    list-style: none;
    /* outline: 5px solid rgba(0, 255, 255, 0.7);
    outline-offset: -5px; */
    display: flex;
    justify-content: space-between;
    width: 261px;
    margin-top: 68px;
    margin-bottom: 86px;
    padding: 0;    
    position: absolute;
}

.slogan-footer {
    /* outline: 5px solid rgba(255, 230, 0, 0.7);
    outline-offset: -5px; */
    position: absolute;
    margin-top: 75px;
    margin-left: 400px;
}

 .social-button  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81px;
    height:81px;
    border-radius: 50%;
    background-color: var(--basic-extra-light);
}

.slogan {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    margin-top: 0;
}

.sale {
    margin: 0;
}

/*Inner-page*/

 .inner {
    text-align: center;
}

.page-catalog {
    /* display: grid;
    grid-template-columns: -10 1fr; */
    /* align-content: start; */
    /* outline-offset: -5px;
    outline: 5px solid rgba(255, 0, 0, 0.7); */
}

.wrapper-content {
    display: flex;
}

.filter {
    background-color: var(--basic-extra-light);
    color: var(--basis-black);
    width: 260px;
}

.inner-page .sort-item {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-neutral);
    text-transform: uppercase;
}

.inner-page .sort-item:focus,
.inner-page .sort-item:active,
.inner-page .sort-item:hover {
    color: var(--basis-black);
}

.inner-page .popup-price {
    width: 200px;
}

.inner-page .item {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--basis-black);
}

.inner-page .popup-windows {
    text-align: center;
    background-color: var(--basic-extra-light);
    width: 360px;
    height: 231px;
}

.catalog-sorting {
    /* outline-offset: -5px;
    outline: 5px solid rgba(0, 255, 0, 0.7); */
    display: flex;
    padding-bottom: 48px;
    margin: 0;  
    margin-left: 80px;
    padding-top: 55px;
    align-items: center;
}

.sort-list {
    display: flex;
    padding-left: 266px;
}

.sort-list span {
    padding-right: 25px;
}

.filters-catalog {
    /* outline-offset: -5px;
    outline: 5px solid rgba(255, 166, 0, 0.7); */
}

.filter-item {
    width: 300px;
    margin-bottom: 58px;
    padding: 0;
    border: none;
}

.catalog-list {
    display: flex;
    width: 760px;
    padding-left: 90px;
    margin-right: auto;
    flex-wrap: wrap;
    margin-bottom: 55px;
    justify-content: space-between; 
    /* outline-offset: -5px;
    outline: 5px solid rgba(0, 0, 255, 0.7); */
}

.catalog-template {
    margin-bottom: 30px;
}

 .pagination-list {
     padding-bottom: 60px;
 }

 .intro {
     padding-top: 68px;
     padding-bottom: 108px;
     background-color: var(--basic-extra-light);
 }